h1, h3 {
    color: black;
    background-color: yellowgreen;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

p {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

div.container {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

ul.myUL, ol.myOL, .a {
  display: inline-block;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}